# Env Files
.env
.env*local
.vscode/settings.json
studon/
tools/
# images licensed from Freepik (see IMAGE-LICENSE.md): usable in this project,
# but not to be published in this repository
lernwerk-licensed-assets.zip
/common/scene/hill/img/tree.stylized.08.png
/common/scene/hill/img/tree.stylized.09.png
/common/scene/hill/img/sky.jpg
/common/scene/hill/img/tree.stylized.04.png
/common/scene/hill/img/tree.stylized.10.png
/common/scene/hill/img/tree.stylized.11.png
/common/scene/hill/img/tree.stylized.05.png
/common/scene/hill/img/tree.stylized.13.png
/common/scene/hill/img/tree.stylized.07.png
/common/scene/hill/img/tree.stylized.06.png
/common/scene/hill/img/tree.stylized.12.png
/common/scene/hill/img/tree.stylized.02.png
/common/scene/hill/img/tree.stylized.03.png
/common/scene/hill/img/tree.stylized.01.png
/common/scene/hill/img/tree.stylized.15.png
/common/scene/hill/img/tree.stylized.14.png
/common/scene/hill/img/tree.stylized.00.png
/common/scene/tree/img/tree.summer.png
/common/scene/tree/img/tree.winter.png
/common/scene/tree/img/tree.spring.png
/common/scene/tree/img/pow.png
/common/scene/tree/img/stage.png
/common/scene/tree/img/tree.lateautumn.png
/common/scene/tree/img/tree.autumn.png
